.section {}

.main__container {
  padding-top: 100px;
  text-align: center;
}

.main__advantages {}

.advantages {}

.advantages__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.advantages__items {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

.advantages__item {
  text-align: center;
  background-image: linear-gradient(0deg, rgba(220, 70, 0, 0.7), rgba(200, 73, 0, 0.5));
  padding: 20px;
  border-radius: 20px;

  &:hover {
    opacity: 0.9;
  }
}

.advantages__text {
  text-align: center;
  color: rgb(219, 219, 219);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.advantages__info {
  text-align: center;
  font-size: 14px;
  color: rgb(219, 219, 219);
  letter-spacing: 1px;
  line-height: 30px;
}

.advantages__icon img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}



@media (max-width: 650px) {
	.advantages {
		&__icon img {
			width: 50px;
			height: 50px;
		}
		&__info {
			font-size: 16px;
		}
		&__items {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
		}
		&__title {
			font-size: 32px;
		}
	}
	.main {
		&__container {
			padding-top: 50px;
		}
	}
}