.button {
  font-size: 24px;
  color: rgb(241, 241, 241);
  margin: 0 auto;
width: 100%;
  margin: 50px 0px;
}
.button a {
	background-color: rgb(216, 94, 0);
	padding: 10px 30px;
	border-radius: 20px;
}