.main {
	padding: 50px 0px;
 }
 
 .cars__container {}
 
 .swiper-wrapper {
	display: flex;
	justify-content: space-around;
 }
 
 .car__title {
	padding: 50px 0px;
	font-size: 38px;
	text-align: center;
 }
 
 .slider__items {
	display: flex;
	justify-content: space-between;
	height: 500px;
 }
 
 .slider__item {
	height: 100%;
	text-align: center;
	background-color: rgba(231, 231, 231, 0.5);
	border-radius: 20px;
	padding: 20px 30px;
 }
 
 .car__name {
	padding: 10px 0px;
	font-size: 24px;
	font-weight: 700;
 }
 
 .car__image {
	width: 100%;
	height: 60%;
	border-radius: 20px;
	margin-bottom: 10px;
 
	img {}
 }
 
 .car__opus {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #6a6d78;
	font-size: 18px;
 
	.car__engine {}
	.car__transmission {}
	.car__run {}
	.car__price {
	  font-weight: 700;
	}
 }
 
 .car__button {
	font-size: 24px;
	color: rgb(241, 241, 241);
	text-align: center;
	padding: 50px 0px 0px 0px;
 
	a {
	  background-color: rgb(255, 0, 0);
	  padding: 10px 40px;
	  letter-spacing: 2px;
	  border-radius: 20px;
	}
 }
 

 @media (max-width: 635px) {
	.car {
		&__image {
			width: 80%;
		}
	}
	.slider {
		&__items {
		
			padding: 10px;
		}
	}
	.main {
		padding: 0px;
	}
 }