.main__image {
	width: 100%;
	height: 900px;
	position: relative;
}
.main__container {

}

.main__items {
	position: absolute;
	top: 5%;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.main__item {
	display: flex;
   flex-direction: column;
	width: 40%;
	gap: 20px;
}
.main__title {
font-size: 50px;
font-weight: 700;
font-family: Russo One, sans-serif;
text-decoration: underline;
text-transform: uppercase;
color: rgb(237, 237, 237);
letter-spacing: 3px;
padding: 20px;
background-color: rgb(150, 150, 150, 0.3);
border-radius: 20px;
}
.main__text__one {
font-size: 28px;
text-align: start;
color: rgb(255, 255, 255);
font-family: Russo One, sans-serif;
line-height: 40px;
text-decoration: underline;
background-color: rgb(150, 150, 150, 0.3);
padding: 20px;
border-radius: 20px;
}
.main__text__two {
font-size: 28px;
color: rgb(255, 255, 255);
text-align: start;
font-family: Russo One, sans-serif;
line-height: 30px;
text-decoration: underline;
background-color: rgb(150, 150, 150, 0.3);
padding: 20px;
border-radius: 20px;
}

.main__form {
display: flex;
flex-direction: column;
width: 80%;
gap: 20px;
background-color: rgb(150, 150, 150, 0.9);
padding: 20px;
border-radius: 20px;
border: 2px solid rgb(245, 245, 245);
}
.form__title {
 font-size: 32px;
 color: aliceblue;
 font-weight: 700;
}
.input__name {
height: 40px;
padding-left: 20px;
border-radius: 10px;
}
.input__email {
	height: 40px;
	border-radius: 10px;
	padding-left: 20px;
}
.input__phone {
	height: 40px;
	border-radius: 10px;
	padding-left: 20px;
}
.input__text {
	height: 150px;
	border-radius: 10px;
	padding-left: 20px;
	top: 0px;
}
.input__button {
	background-color: rgb(245, 118, 0);
	font-size: 26px;
	border-radius: 20px;
	color: aliceblue;
	padding: 10px 0px;
	letter-spacing: 1px;
}